name: .NET Core

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.301
    - name: Install dependencies
      run: dotnet restore
      working-directory: ./AdventuresOfWilburUploadFunction/src/AdventuresOfWilburUploadFunction
    - name: Build
      run: dotnet build --configuration Release --no-restore
      working-directory: ./AdventuresOfWilburUploadFunction/src/AdventuresOfWilburUploadFunction
    - name: Test
      run: dotnet test --no-restore --verbosity normal
      working-directory: ./AdventuresOfWilburUploadFunction/test/AdventuresOfWilburUploadFunction.Tests
    - uses: actions/checkout@v2
    - name: Configure credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: eu-west-2
    - name: setupdirectory
      working-directory: ./AdventuresOfWilburUploadFunction/src/AdventuresOfWilburUploadFunction
    - name: Update stack
      uses: aws-actions/aws-cloudformation-github-deploy@v1
      with:
        name: adventures-of-wilbur
        template: template.yaml
        no-fail-on-empty-changeset: 1
